<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baileyae.gimbal24example"
    android:installLocation="preferExternal">

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".PandG"
        android:allowBackup="true"
        android:icon="@drawable/pg_logo"
        android:logo="@drawable/pg_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".AutoStartBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MapsActivity"
            android:icon="@drawable/pg_logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayLocationActivity"
            android:label="@string/title_activity_display_location"
            android:parentActivityName=".MapsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapsActivity" />
        </activity>
        <activity
            android:name=".OptInActivity"
            android:label="OptIn"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".SettingsActivity"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/action_settings" />
        <activity
            android:name="tesco.TescoActivity"
            android:icon="@drawable/ic_action_view_as_list"
            android:label="@string/button_search" />

        <service
            android:name=".GimbalAppService"
            android:exported="false" />

        <activity
            android:name=".event_details"
            android:label="@string/title_activity_event_details" >
        </activity>
        <activity
            android:name="tesco.OfferListActivity"
            android:label="@string/title_offer_list" >
        </activity>
        <activity
            android:name="tesco.OfferDetailActivity"
            android:label="@string/title_offer_detail"
            android:parentActivityName="tesco.OfferListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tesco.OfferListActivity" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="camera.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="tesco.SettingsProd"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/action_settings" />
    </application>

</manifest>
